{% load static %}<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="{% static "styles/main.css" %}">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
</head>
<body ng-app="TomorrowDoApp" ng-controller="MainController as mc" ng-cloak layout="column">

    <md-toolbar layout="row" >
        <md-button class="menu" hide-gt-sm ng-click="mc.toggleMenu()" >
            <md-icon>open</md-icon>
        </md-button>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav class="project_nav md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')"
                    md-component-id="left">
            <h1 class="md-toolbar-tools">Projects</h1>

            <md-content layout-padding layout="column">
                <md-button ng-click="close()" class="md-primary">
                    Hoge
                </md-button>
                <md-button ng-click="close()" class="md-primary" ng-disabled="true">
                    Fuga
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    Piyo
                </md-button>

            </md-content>

        </md-sidenav>

        <md-content class="md-padding" flex>
            {% block main %}
            {% endblock %}
        </md-content>

    </div>

<script>
    var app = angular.module('TomorrowDoApp', ['ngMaterial']);
    app.config(function($mdThemingProvider){
        $mdThemingProvider.theme('default')
                .primaryPalette('blue-grey')
                .accentPalette('grey');
    });
    app.controller('MainController', function($mdSidenav) {
        var self = this;

        self.toggleMenu = function () {
            $mdSidenav('left').toggle();
        };

    });
    app.controller('TodoController', function($mdSidenav) {
        var self = this;

    });
</script>

</body>
</html>